@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }
    </style>
</head>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/Images/black-shopping-cart-icon.png"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h2>Register</h2>
                <hr />
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input asp-for="UserName" class="form-control form-control-lg"
                               placeholder="Enter your name" />
                        <label class="form-label" for="form3Example3">Username</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Email" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email address</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <!-- Confirm Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="ConfirmPassword" class="form-control form-control-lg"
                               placeholder="Confirm your password" />
                        <label class="form-label" for="form3Example4">Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-dark btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>



