@model ApplicationUserViewModel

<!-- Modal Header -->
<div id="headerContent" class="modal-header">
    <h4 class="modal-title">
        Edit User
    </h4>
    <button type="button" class="btn-close" onclick="CloseModal()"></button>
</div>
<!-- Modal body -->
<div id="ModalBody" class="modal-body">
    <form id="EditUserForm" asp-action="Edit" asp-controller="ApplicationUser">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Password" />

        <div class="mb-3 mt-3">
            <label asp-for="UserName"></label>
            <input class="form-control" placeholder="Enter username" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="Email"></label>
            <input class="form-control" placeholder="Enter a valid email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-check mb-3 mt-3">
            <label class="form-check-label">Active</label>
            <input class="form-check-input" type="checkbox" asp-for="IsActive">
        </div>
        <div asp-validation-summary="All"></div>
        <!-- Add other fields as needed -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="CloseModal()">Close</button>
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>

</div>


