@model RegisterViewModel

<!-- Modal Header -->
<div id="headerContent" class="modal-header">
    <h4 class="modal-title">
        New User
    </h4>
    <button type="button" class="btn-close" onclick="CloseModal()"></button>
</div>
<!-- Modal body -->
<div id="ModalBody" class="modal-body">
    <form id="NewSellerForm" asp-action="New" asp-controller="ApplicationUser">
        <div class="mb-3 mt-3">
            <label asp-for="UserName"></label>
            <input class="form-control" placeholder="Enter username" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="Email"></label>
            <input class="form-control" placeholder="Enter a valid email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="Password"></label>
            <input class="form-control" placeholder="enter password" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" placeholder="confirm your password" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div asp-validation-summary="All"></div>
        <!-- Add other fields as needed -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="CloseModal()">Close</button>
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>

</div>


