@model CategoryViewModel

<!-- Modal Header -->
<div id="headerContent" class="modal-header">
    <h4 class="modal-title">
        Edit Category
    </h4>
    <button type="button" class="btn-close" onclick="CloseModal()"></button>
</div>

<!-- Modal body -->
<div id="ModalBody" class="modal-body">
    <form id="EditCategoryForm" method="post" asp-action="Edit" asp-controller="Category">
        <input type="hidden" asp-for="IsDeleted" value="false" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="InsertionDate" />
        <input type="hidden" asp-for="ModifiedDate" />

        <div class="mb-3 mt-3">
            <label asp-for="Name"></label>
            <input class="form-control" placeholder="Enter name" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div asp-validation-summary="All"></div>
        <!-- Add other fields as needed -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="CloseModal()">Close</button>
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>

</div>


