<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/Product/Index">Online Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Product/Index">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Product/Index">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
@*                      <li><a class="dropdown-item" href="#!">Popular Items</a></li>     *@
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Product" asp-route-newArrivals="true">New Arrivals</a></li>
                    </ul>
                </li>

                @if (User.IsInRole(Roles.Admin))
                {
                    <!--  Admin Actions -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin's Functions</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>*@
                            <li><a class="dropdown-item" href="/Category/Index">Categories</a></li>
                            <li><a class="dropdown-item" href="/ApplicationUser/Sellers">Sellers</a></li>
                            <li><a class="dropdown-item" href="/ApplicationUser/Index">All Users</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <!-- Right Part -->
            <form class="d-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(Roles.Admin))
                    {
                        <a asp-action="Notification" asp-controller="ApplicationUser" class="btn btn-outline-dark me-1" type="button">
                            <i class="bi-bell">
                                Notifications
                            </i>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">@ViewBag.NotificationCount</span>
                        </a>
                    }
                    else if (User.IsInRole(Roles.Customer))
                    {
                        <button class="btn btn-outline-dark me-1" asp-action="Index" asp-controller="Cart">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span id="cartTotal" class="badge bg-dark text-white ms-1 rounded-pill">$ @ViewBag.CartTotalPrice</span>
                        </button>
                    }
                    <a class="btn btn-outline-dark me-1" type="button" href="/Account/Logout">
                        Logout
                    </a>
                }
                else
                {
                    <a class="btn btn-outline-dark me-1" type="button" href="/Account/Login">
                        Login
                    </a>
                }
            </form>
        </div>
    </div>
</nav>