@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole(Roles.Seller))
{
    <button class="btn btn-secondary mb-2" type="button" onclick="NewProduct()">
        Add Product
    </button>
}

<h2>All Products</h2>
<hr />

<!-- For all card  -->
<!-- Cards -->

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var product in Model.Products)
    {
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="/Images/@product.Image" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@product.Name</h5>
                        @*<!-- Product reviews-->
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    </div>*@
                        <!-- Product price-->
                        <span class="text-muted text-decoration-line-through">$@product.Price</span>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal" id="ModalPopUp">
    <div class="modal-dialog">
        <div id="ModalContent" class="modal-content">
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function CloseModal() {
            $("#ModalPopUp").hide();
        }

        function NewProduct() {
            $.ajax(
                {
                    url: "/Product/New",
                    type: "GET",
                    success: function (result) {
                        $("#ModalContent").html(result);
                        var form = document.getElementById("NewProductForm");
                        $(form).removeData("validator")
                            .removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse(form);
                        $("#ModalPopUp").show();
                    }
                }
            )
        }

    </script>
}